# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
ENV/

# VSCode
.vscode/

# Environment secrets
.env

# Docker
*.log
pgdata/
node_modules/
coverage/
dist/
build/
.eslintcache
frontend/node_modules/
frontend/coverage/
